<!-- extend base layout -->
{% extends "base.html" %}
{% from "_helpers.html" import render_answer_field %}

{% block content %}
    <h1 class="text-center">Answer question # {{ post.id }}</h1>
    <div class="col-md-6 col-md-offset-3 top-margin big-font"><p><strong>{{ post.user_name }} asked:</strong> {{ post.question }}</p></div>
    <div class="col-md-6 col-md-offset-3 top-margin">
        <form action="" method="post" name="answer">
            {{ form.hidden_tag() }}
            {% if post.answer != None %}
                {{ render_answer_field( form.answer,placeholder="Answer the question here...", class="form-control", value = post.answer  ) }}
            {% else %}
                {{ render_answer_field( form.answer,placeholder="Answer the question here...", class="form-control" ) }}
            {% endif %}

          <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11 top-margin-10">
                    <input type=submit value=Answer class="btn btn-default">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
